.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
            background-color: orange;
            color: white;
        }
        .footer{
            background-color: rgb(239, 148, 148);
        }
        .container{
            margin: 0px;
        }
        *{
            margin: 0px;
        }
        .menu{
            display: flex;
        }
        .menu li{
            list-style: none;
            margin: 5px;
        }
        .menu li a{
            text-decoration: none;
            color: white;
        }
