.header{
            background-color: orange;
            color: white;
        }
        .footer{
            background-color: silver;
        }
        .container{
            margin: 0px;
        }
        *{
            margin: 0px;
        }